

<ion-content>

  <ion-item>
    <ion-searchbar placeholder="Pesquise..."></ion-searchbar>
  </ion-item>

  <ion-item>
    
      <ion-card>
Bem-Vindo, Usuário
      </ion-card>
    
  </ion-item>





  <div class="funcionarios-online">  

<div class="status-status"> 
<div class="status">
  <br/>
  <label class="status-text"><strong>Status:</strong></label>
</div>


<div class="online-offline">
  <select class="select-status">
    <option selected >Escolha seu status</option>
    <option >Online</option>
    <option >Offline</option>
  </select>
</div>


</div>
<br/>

<div class="label-funcionarios">
<label> <strong> 2745 funcionários </strong> <br/> estão online no momento. </label>
</div>

<br/>

  <div class="lista-de-funcionarios">
    
    <div class="pessoa">
     <label>Cláudio da Silva</label>
     <ion-badge color="success">Online</ion-badge>    
    </div> 
    <br/>
    <div class="pessoa">
     <label>André Ferreira</label>
     <ion-badge color="danger">Offline</ion-badge>  
    </div>
    <br/>
     <div class="pessoa">
     <label>Viviane Trajano</label>
     <ion-badge color="danger">Offline</ion-badge> 
    </div> 
    <br/>
     <div class="pessoa">
     <label>Maurício Sampaio</label>
     <ion-badge color="success">Online</ion-badge> 
    </div>
    
  </div>





<h6 class="jornada">Jornada diária de trabalho</h6>



</div>
<div class="range-completo">
<label class="range-numbers">0</label>
<ion-range></ion-range>
<label class="range-numbers">15</label>
</div>

<div class="button">
  <ion-button color="danger"  href="/login">Sair</ion-button>
</div>  

<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button>
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="call"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="chatbox"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>

   

  </ion-tab-bar>

</ion-tabs>

</ion-content>
